

body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 30px;
	padding-left: 50px;
	min-width=1200px;
	height: 520px;
	position: relative;
	z-index: 1;
	font-family: verdana;
}

.targeted {
	/*background-image: url('../images/target.jpg');*/
	width: 200px;
	height: 300px;
	float: right;
	margin-top: 100px;
}

.ryu-text {
	left: 650px;
	height: 300px;
	width: 200px;
	margin-top: 75px;
	color: black;
	position: absolute;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.masthead {
	width: 100%;
	font-size: 2em;
	color: red;
	font-family: verdana, sans-serif;
	text-align: center;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}


.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: right;
	position: absolute;
	z-index: 10;
	margin-top: 175px;
	margin-left: 200px;
	left: 380px;

}




